# Dependencies
/node_modules/
/backend/node_modules/
/frontend/node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production (add relevant folders if needed)

# Miscellaneous
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*